@font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
   src: url("../../assets/fonts/Georgia.ttf");
   font-weight: 400;
   font-style: normal;
 }

 @font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
   src: url("../../assets/fonts/Georgia-Italic.ttf");
   font-weight: 400;
   font-style: italic;
 }

 @font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
   src: url("../../assets/fonts/Georgia-bold.ttf");
   font-weight: 700;
   font-style: normal;
 }

@font-face {
  font-family: Arial, Helvetica, sans-serif;
   src: url("../../assets/fonts/ArialMT.ttf");
   font-weight: 400;
   font-style: normal;
 }
 
 @font-face {
  font-family: Arial, Helvetica, sans-serif;
   src: url("../../assets/fonts/Arial-ItalicMT.ttf");
   font-weight: 400;
   font-style: italic;
 }
 